.firstHeading{
    color: blue;
    background-color: aqua;
    text-align: center;
    margin: 0 10%;
    font-family: Georgia;
    padding: 10px;
    display: block;
    border: 3px solid black;
    border-radius: 20px
}